@model CommercialAutomation.Models.Classes.Category
@{
    ViewBag.Title = "GetCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<center style="border:double;"><h2>Kategori Güncelle</h2></center>
<br />

@using (Html.BeginForm("UpdateCategory", "Category", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(x => x.CategoryName)
        <br />
        @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })
        @Html.HiddenFor(x => x.CategoryID)
    </div>
    <br />
    <button class="btn btn-success">Güncelle</button>
}



